<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-06-30T05:15:47Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hansohee/Xcode/Intermediate_Project/RxSwiftPractice/RxSwiftPractice.xcworkspace</string>
</dict>
</plist>
